*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color:blanchedalmond;
    color:#333;
    line-height:1.6;
}
header{
    background:#0f172a;
    color:white;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    font-size:1.8rem;
    font-weight:bold;
}
nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}
nav a{
    color:burlywood;
    text-decoration:none;
    font-weight:500;
}
nav a:hover{
    color:chocolate
}
.hero{
    min-height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    background:linear-gradient(135deg,#0f172a,#2563eb);
    color:white;
}
.hero h1{
    font-size:2.5rem;
    margin-bottom:20px;
}
.hero p{
    font-size:1.2rem;
    margin-bottom:30px;
}
.btn{
    background:white;
    color:#2563eb;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}
.btn:hover{
    background:#2563eb;
    color:white;
    border:2px solid white;
}
section{
    padding:60px 10%;
}
.section-title{
    font-size:2rem;
    margin-bottom:30px;
    color:#0f172a;
    text-align:center;
}
.roadmap{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    padding:20px;
    width:300px;
    text-align:center;
    transition:transform 0.3s;
}
.card:hover{
    transform:translateY(-5px);
}
.card h3{
    margin-bottom:15px;
    color:#2563eb;
}

.card ul{
    text-align:left;
    margin-top:10px;
    padding-left:20px;
}
.skills{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}
.skill{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:10px;
    font-weight:bold;
    transition:transform 0.3s ease;
}
.skill:hover{
    background-color:#2563eb;
    transform:translateY(-5px);
    box-shadow:5px 6px 15px rgba(185, 7, 239, 0.15);
}
.timeline{
    max-width:800px;
    margin:auto;
}
.timeline-item{
    background:white;
    margin-bottom:15px;
    padding:20px;
    border-left:5px solid #2563eb;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
    transition:transform 0.3s ease;
}
.timeline-item:hover{
    background-color:beige;
    border-left:5px solid #2563eb;
    transform:translateY(-5px);
    box-shadow:5px 6px 15px rgba(185, 7, 239, 0.15);
}
.contact{
    text-align:center;
    margin:auto;
    background-color:#0f172a;
    color:white;
    padding:30px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.contact-title{
    text-align:center;
    margin-bottom:20px;
}
.contact-card{
    background:#2563eb;
    color:white;
    padding:20px;
    border-radius:10px;
    display:inline-block;
    text-align:left;
    transition:transform 0.3s ease;
}
.contact-card:hover{
    background-color:#2563eb;
    transform:translateY(-5px);
    box-shadow:5px 6px 15px rgba(185, 7, 239, 0.15);
}
footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px 10%;
}
@media (max-width:768px){
    header{
        flex-direction:column;
        gap:15px;
    }
    .hero h1{
        font-size:1.8rem;
    }
    .roadmap{
        grid-template-columns:1fr;
    }
    .skills{
        grid-template-columns:1fr;
    }
}
